@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,700|Signika:700');

/* ------------ general ------------ */

* {
    box-sizing: border-box;
}

html {
    background: rgb(6, 2, 36);
    height: 100%;
    font-family: 'overpass mono', sans-serif;
    font-size: 16px;
    line-height: 1.666;
    color: rgb(200, 210, 230);
}

body {
    min-height: 100%;
    background: linear-gradient(60deg, rgb(6, 2, 36), rgb(8, 4, 43));
    margin: 30px;
    padding: 60px;
}
@media (max-width: 600px) {
    body {
        margin: 10px;
        padding: 10px;
    }
}


/* ------------ links ------------ */

header {
    margin-bottom: 120px;
}


/* ------------ links ------------ */

a {
    color: black;
    background: rgb(200, 220, 230);
    border-radius: 2px;
    padding: 0 0.3em;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
    font-weight: bold;
}

a:hover {
    background: gold;
}


/* ------------ typography ------------ */

p {
    max-width: 42em;
    margin: 0 0 20px;
}

h1, h2, h3 {
    margin: 0 0 10px;
    font-family: 'signika', sans-serif;
    color: rgb(0, 220, 136);
    letter-spacing: 0.03em;
    line-height: 1.3;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

@media (max-width: 1000px) {
    h1, h2, h3 {
        font-size: 2em;
    }
}


/* ------------ resource list ------------ */

ul {
    list-style: none;
    margin: 0 0 60px;;
    padding: 0;
}

.resources {
    display: flex;
    flex-wrap: wrap;
}

.resources li {
    padding-right: 6em;
    width: 50%;
    min-width: 400px;
    margin-bottom: 60px;
}
@media (max-width: 1000px) {
    .resources li {
        padding-right: 0;
        width: 100%;
    }
}



/* ------------ animation & graphics ------------ */

.heart {
    color: rgba(200, 30, 100);
}

.gradient {
    color: black;
    background: linear-gradient(60deg, pink, yellow, cyan, lime);
    border-radius: 2px;
    padding: 0 0.3em;
    font-weight: bold;
}

.triangle {
	width: 0;
    height: 0;
    margin: 0 auto;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
    border-bottom: 36px solid gold;
    animation: rotate 12s linear infinite;
    transform-origin: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* ------------ footer ------------ */

footer {
    margin-top: 120px;
}

footer p {
    text-align: center;
    margin: 0 auto 60px;
}